@use 'sass:map';
@use '@angular/material' as mat;
@use '../m3-theme' as m3-theme;

@mixin delta-tgm-chips-override($theme-colors) {
    $primary-color: map.get($theme-colors, primary);
    $accent-color: map.get($theme-colors, secondary);
    $netural-variant-color: map.get($theme-colors, neutral-variant);

    @include mat.chips-overrides((
        container-shape-radius: 8px,
        outline-width: 0,
        elevated-container-color: map.get($primary-color, 10),
        label-text-color: map.get($netural-variant-color, 90),
        elevated-disabled-container-color: map.get($netural-variant-color, 90)
    ));

    .mat-tertiary {
        @include mat.chips-overrides((
            elevated-container-color: map.get($accent-color, 50),
            label-text-color: map.get($netural-variant-color, 90),
        ));
    }
}